@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;800&family=VT323&display=swap');
@import url('https://fonts.googleapis.com/css?family=Poppins:900i');

:root {
    --secondary: #6d15df;
    --bg: #80848A;
    --bg-accent: #80848A;
    --text-color: #dadce1;
    --nav-size: 60px;
    --border: 1px solid #474a4d;
    --border-radius: 8px;
    --speed: 500ms;
}

h1, h2, h3 {
    margin: 0;
}

body {
    margin: 0;
    color: #80848A;
    font-family: 'Poppins';
    background: #008B00;
    font-size: 20px;
    color: black;
}

nav {
    padding: 10px 20px;
    text-align: center;
}

nav a {
    color: black;
    margin: 10px;
    display: inline-block;
}

nav h1 {
    color: black;
}

.page {
    max-width: 1200px;
    margin: 20px auto;
    padding: 20px;
}

body {
    margin: 0;
    background: #EBF2FC;
    font-family: roboto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


a {
    color: black;
    text-decoration: none;;
}

/* Top Navigation Bar */

/* <nav> */
.navbar {
    height: var(--nav-size);
    border-bottom: var(--border);
    background-color: lightgrey;
}

/* <ul> */
.navbar-nav {
    max-width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    background-color: lightgrey;
}

/* <li> */
.nav-item {
    width: calc(var(--nav-size) * 0.8);
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: lightgrey;
}

/* Icon Button */
.icon-button {
    --button-size: calc(var(--nav-size) * 0.5);
    width: var(--button-size);
    height: var(--button-size);
    background-color: #484a4d;
    border-radius: 50%;
    padding: 5px;
    margin: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: filter 300ms;
}

.icon-button:hover {
    filter: brightness(1.2);
}

.icon-button svg {
    fill: black;
    width: 20px;
    height: 20px;
}


/* Dropdown Menu */

.dropdown {
    position: absolute;
    top: 58px;
    width: 300px;
    transform: translateX(-45%);
    background-color: black;
    border: var(--border);
    border-radius: var(--border-radius);
    padding: 1rem;
    overflow: hidden;
    transition: height var(--speed) ease;
}

.menu {
    width: 100%;
}

.menu-item {
    height: 50px;
    display: flex;
    align-items: center;
    border-radius: var(--border-radius);
    transition: background var(--speed);
    padding: 0.5rem;
}

.menu-item .icon-button {
    margin-right: 0.5rem;
}


.menu-item .icon-button:hover {
    filter: none;
}

.menu-item:hover {
    background-color: #525357;
}

.icon-right {
    margin-left: auto;
}

/* CSSTransition classes  */
.menu-primary-enter {
    position: absolute;
    transform: translateX(-110%);
}

.menu-primary-enter-active {
    transform: translateX(0%);
    transition: all var(--speed) ease;
}

.menu-primary-exit {
    position: absolute;
}

.menu-primary-exit-active {
    transform: translateX(-110%);
    transition: all var(--speed) ease;
}


.menu-secondary-enter {
    transform: translateX(110%);
}

.menu-secondary-enter-active {
    transform: translateX(0%);
    transition: all var(--speed) ease;
}

.menu-secondary-exit {

}

.menu-secondary-exit-active {
    transform: translateX(110%);
    transition: all var(--speed) ease;
}


#options {
    width: 150px;
    font-size: 20px;
    color: black;
    position: relative;
    left: 30px;
}

#options2 {
    width: 200px;
    font-size: 20px;
    color: black;
    margin-left: 15px;
    margin-bottom: 150px;
}


#back {
    float: right;
    height: 35px;
    width: 100px;
    font-size: 30px;
    color: black;
}

#fr {
    display: flex;
    flex-direction: row;
    color: black;
    margin-left: 200px;
    margin-top: 50px;
}


.uebungauswählen {
    margin-left: 10%;
    margin-top: 5%;
    scale: 130%;
}


#ch {
    margin-left: 320px;
    color: black;
}


#fr2 {
    margin-left: 430px;
    height: 40px;
    width: 100px;
    margin-top: 20px;
}


#effort {
    width: 150px;
    height: 20px;
    margin-bottom: 60px;
    font-size: 30px;
}

.effortbox {
    width: 150px;
    border-style: solid;
    height: 22px;
    margin-bottom: 20px;
}


.css-bhp9pd-MuiPaper-root-MuiCard-root {
    background-color: #fff;
    color: rgba(0, 0, 0, 0.87);
    -webkit-transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    border-radius: 4px;
    box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
    overflow: hidden;

    display: flex;
    flex-direction: column;
    width: 100%;
    min-width: 45vh;
}

.css-abna4k-MuiList-root {
    list-style: none;
    margin: 0;
    padding: 0;
    position: relative;
    background-color: #fff;
    overflow: auto;

}

.ShowDiffi {
    border-color: #151616;
    border-style: groove;
    position: relative;
    display: flex;
    justify-content: center;
    margin-top: 1%;
    margin-left: 1%;
    width: 23%;
}


/* Uebungselect.js ********************************************************* */

#saveButton {
    width: 8em;

}

/* Create.js *************************************************************** */


#trainingsplandivs {
    background: white;
    border-width: 2px;
    border-radius: 0.5em;
    border-color: #151616;
    color: black;

}

#trainingsplanform {
    position: relative;
    height: 100%;
    width: 100%;

}

.plusicon {
    margin-left: 4%;
}

#submitButton {


}

#trainingsplananzeige {
    position: relative;
    justify-content: center;
    border-bottom-color: darkgrey;
    border-bottom-style: dotted;
}

.trtagdivs {
    height: 6em;
    width: 6em;
    margin-left: 2%;
    margin-right: 2%;
    margin-top: 2%;
    font-family: Bahnschrift;


}

.trtagcontent {
    border-color: #151616;
    border-style: groove;
    border-radius: 5px;
    position: relative;
    display: flex;
    justify-content: center;
    margin: 0;

}

.trainingsplanname {
    margin: 2%;
}

#divs {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.ueberschrift {
    margin-left: 3%;
    margin-top: 2%;
    font-family: Bahnschrift;
}

#ueberschriftverwaltungsdiv {
    display: flex;
    flex-direction: row;
}

#verwaltungsButton {
    margin-left: 45%;
    margin-top: 2%;
}

#createList {
    columns: 2;
    -webkit-columns: 2;
    -moz-columns: 2;
    margin-left: 10%;
    list-style: none;
    padding: 0;
    color: black;
}


#Exercise {
    margin-left: 45px;
    color: black;
}

.tagesbezeichnung {
    color: black;
    margin-left: 3%;
    scale: 130%;
}

/* App.js ****************************************************************** */

#content {
    display: flex;
    flex-direction: column;
    max-height: 90vh;
    margin-left: 12em;
}

.Effortboxes {
    margin-left: 5%;
}


.sidenavbar {
    height: 100svh;
    width: 9em;
    color: white;
    position: fixed;
    z-index: 1;
    top: 0;
    float: left;
    font-size: 20px;
    line-height: 150%;
    background-color: #06367A;
    border: none;

}

.wrapper {
    width: 200px;
    height: 60px;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 7%;
}

.wrapper:active {
    width: 200px;
    height: 60px;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 7%;
    background-color: darkblue;
}


.icon {
    height: 70px;
    width: 70px;

}

.text {
    font-size: 25px;
    color: white;
    font-family: Bahnschrift;
}

.avatar {
    align-items: center;
    display: flex;
    justify-content: center;
    height: 7rem;
    width: 7rem;
    margin-left: 20%;
}

.avatar__image {
    height: 100%;
    width: 100%;
    border-radius: 50%;

}


#textdown {
    margin-top: 85%
}

/* Trainingsplanverwaltung */

#tableContainer {
    margin: 2em;
    width: 95%;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

#tableContainer2 {
    margin: 2em;
    width: 95%;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

/*
Plank
 */

#plankstarthome {
    margin-left: 0px;
}

.auswahlButton {
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 5px 10px;
    margin: 5px;
    cursor: pointer;
}

.ausgewaehlt {
    background-color: #ccc;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 25vh;
    margin-top: 10px;
}

.gif {
    width: 50%;
    height: auto;
}

/*
 */


.bikerow {
    display: flex;
    flex-direction: row;
}

.kurbel-container {
    display: grid;
    place-items: center;
    margin-left: 15%;
}

#kurbel {
    width: 450px;
    height: 300px;
}


#Homeboxes {
    border-radius: 2px;
    border-style: solid;
}

.showHome {
    flex-direction: row;
}

#Homeanzeige {
    position: static;
    margin-left: 20%;

}

#Homedivs {
    display: flex;
    flex-direction: row;
    margin-top: 10%;

}

#HomeBoxes {
    border-radius: 20% 20%;
    border-style: solid;
    margin-left: 25%;
    height: 200px;
    width: 300px;
    background: white;
    margin-right: 50px;
    font-size: 20px;
    color: white;
    font-family: Bahnschrift;
}

#HomeBoxes:hover {
    border-radius: 20% 20%;
    border-style: solid;
    margin-left: 25%;
    height: 200px;
    width: 300px;
    background: white;
    margin-right: 50px;
    font-size: 20px;
    color: white;
    font-family: Bahnschrift;
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);

}


.ueberschrifthome {
    margin-left: 3%;
}

#gewichthome {
    border-radius: 25% 25% 25%;
    border-style: solid;
    margin-left: 20%;
    margin-top: 5%;
    height: 200px;
    width: 600px;
    background: white;
}


.Logindiv {
    border-radius: 20% 20%;
    border-style: solid;
    margin-left: 25%;
    height: 200px;
    width: 300px;
    background: white;
    margin-right: 50px;
    font-size: 20px;
    text-align: center;
    color: Black;
    font-family: Bahnschrift;
}

#fahrradcontent {
    margin-left: 1%;
    margin-top: 1%;
    font-family: Bahnschrift;
}

#ueberschriftfahrrad {
    font-size: 50px;
    text-align: center;
    margin-top: 10px;
}

#contentfarrad {
    font-size: 30px;
    margin-left:12%;
    margin-top: 6%;
    font-family: Bahnschrift;
}


#fahrradinfoicon {
    position: absolute;
    right: 15px;
    top: 15px;

}

.diffibar {
    display: flex;
    justify-content: center;
    margin: 40px 10px 10px;
}

.square {
    width: 30px;
    height: 25px;
    background-color: #E3E3E3;
}

.square-green {
    background-color: #6CD24B;
}

.square-yellow {
    background-color: #f1ff2e;
}

.square-orange {
    background-color: #FFAD01;
}

.square-red {
    background-color: #FF2E37;
}

.square-rounded-left {
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.square-rounded-right {
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

.diffibutton {
    display: grid !important;
    width: 230px !important;
    height: 180px !important;
    background-color: white !important;
    font-size: 28px !important;
    border-radius: 40px !important;
}

.diffibuttons {
    gap: 0.8rem;
    display: flex;
    margin: 40px;
}